xsd/dmn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.omg.org/spec/DMN/20130901" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/spec/DMN/20130901" elementFormDefault="qualified">
	<xsd:element name="DMNElement" type="tDMNElement" abstract="true"/>
	<xsd:complexType name="tDMNElement">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional"/>
		<xsd:anyAttribute namespace="##other" processContents="lax"/>
	</xsd:complexType>
	<xsd:element name="NamedElement" type="tNamedElement" substitutionGroup="DMNElement"/>
	<xsd:complexType name="tDMNElementReference">
		<xsd:attribute name="href" type="xsd:anyURI" use="required"/>
	</xsd:complexType>
	<xsd:element name="Definitions" type="tDefinitions" substitutionGroup="NamedElement"/>
	<xsd:complexType name="tDefinitions">
		<xsd:complexContent>
			<xsd:extension base="tNamedElement">
				<xsd:sequence>
					<xsd:element ref="Import" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ItemDefinition" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="DRGElement" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="artifact" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="ElementCollection" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="BusinessContextElement" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="expressionLanguage" type="xsd:anyURI" use="optional" default="http://www.omg.org/spec/FEEL/20140401"/>
				<xsd:attribute name="typeLanguage" type="xsd:anyURI" use="optional" default="http://www.omg.org/spec/FEEL/20140401"/>
				<xsd:attribute name="namespace" type="xsd:anyURI" use="required"/>
				<xsd:attribute name="exporter" type="xsd:string" use="optional"/>
				<xsd:attribute name="exporterVersion" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Import" type="tImport"/>
	<xsd:complexType name="tImport">
		<xsd:attribute name="namespace" type="xsd:anyURI" use="required"/>
		<xsd:attribute name="locationURI" type="xsd:anyURI" use="optional"/>
		<xsd:attribute name="importType" type="xsd:anyURI" use="required"/>
	</xsd:complexType>
	<xsd:element name="ElementCollection" type="tElementCollection" substitutionGroup="NamedElement"/>
	<xsd:complexType name="tElementCollection">
		<xsd:complexContent>
			<xsd:extension base="tNamedElement">
				<xsd:sequence>
					<xsd:element name="drgElement" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DRGElement" type="tDRGElement" abstract="true" substitutionGroup="NamedElement"/>
	<xsd:complexType name="tDRGElement">
		<xsd:complexContent>
			<xsd:extension base="tNamedElement"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Decision" type="tDecision" substitutionGroup="DRGElement"/>
	<xsd:complexType name="tDecision">
		<xsd:complexContent>
			<xsd:extension base="tDRGElement">
				<xsd:sequence>
					<xsd:element name="question" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="allowedAnswers" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="InformationItem" minOccurs="0"/>
					<xsd:element name="informationRequirement" type="tInformationRequirement" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="knowledgeRequirement" type="tKnowledgeRequirement" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="authorityRequirement" type="tAuthorityRequirement" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="supportedObjective" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="impactedPerformanceIndicator" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="decisionMaker" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="decisionOwner" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="usingProcess" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="usingTask" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="Expression" minOccurs="0" maxOccurs="1"/>
					<!-- the decision logic -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BusinessContextElement" type="tBusinessContextElement" abstract="true"/>
	<xsd:complexType name="tBusinessContextElement">
		<xsd:complexContent>
			<xsd:extension base="tNamedElement">
				<xsd:attribute name="URI" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PerformanceIndicator" type="tPerformanceIndicator" substitutionGroup="BusinessContextElement"/>
	<xsd:complexType name="tPerformanceIndicator">
		<xsd:complexContent>
			<xsd:extension base="tBusinessContextElement">
				<xsd:sequence>
					<xsd:element name="impactingDecision" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OrganizationUnit" type="tOrganizationUnit" substitutionGroup="BusinessContextElement"/>
	<xsd:complexType name="tOrganizationUnit">
		<xsd:complexContent>
			<xsd:extension base="tBusinessContextElement">
				<xsd:sequence>
					<xsd:element name="decisionMade" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="decisionOwned" type="tDMNElementReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BusinessKnowledgeModel" type="tBusinessKnowledgeModel" substitutionGroup="DRGElement"/>
	<xsd:complexType name="tBusinessKnowledgeModel">
		<xsd:complexContent>
			<xsd:extension base="tDRGElement">
				<xsd:sequence>
					<!-- the parameters -->
					<xsd:element ref="FunctionDefinition" minOccurs="0" maxOccurs="1"/>
					<!-- the body -->
					<xsd:element name="knowledgeRequirement" type="tKnowledgeRequirement" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="authorityRequirement" type="tAuthorityRequirement" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="InputData" type="tInputData" substitutionGroup="DRGElement"/>
	<xsd:complexType name="tInputData">
		<xsd:complexContent>
			<xsd:extension base="tDRGElement">
				<xsd:sequence>
					<xsd:element ref="InformationItem" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="KnowledgeSource" type="tKnowledgeSource" substitutionGroup="DRGElement"/>
	<xsd:complexType name="tKnowledgeSource">
		<xsd:complexContent>
			<xsd:extension base="tDRGElement">
				<xsd:sequence>
					<xsd:element name="authorityRequirement" type="tAuthorityRequirement" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="type" type="xsd:anyType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="owner" type="tDMNElementReference" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="locationURI" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tInformationRequirement">
		<xsd:sequence>
			<!-- the variable -->
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="requiredDecision" type="tDMNElementReference"/>
				<xsd:element name="requiredInput" type="tDMNElementReference"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tKnowledgeRequirement">
		<xsd:sequence>
			<xsd:element name="requiredKnowledge" type="tDMNElementReference" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tAuthorityRequirement">
		<xsd:choice minOccurs="1" maxOccurs="1">
			<xsd:element name="requiredDecision" type="tDMNElementReference"/>
			<xsd:element name="requiredInput" type="tDMNElementReference"/>
			<xsd:element name="requiredAuthority" type="tDMNElementReference"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="Expression" type="tExpression" abstract="true"/>
	<xsd:complexType name="tExpression">
		<xsd:complexContent>
			<xsd:extension base="tDMNElement"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ItemDefinition" type="tItemDefinition" substitutionGroup="NamedElement"/>
	<xsd:complexType name="tItemDefinition">
		<xsd:complexContent>
			<xsd:extension base="tNamedElement">
				<xsd:choice>
					<xsd:sequence>
						<xsd:element name="typeRef" type="xsd:QName"/>
						<xsd:element name="allowedValues" type="tUnaryTests" minOccurs="0"/>
					</xsd:sequence>
					<xsd:element name="itemComponent" type="tItemDefinition" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:attribute name="typeLanguage" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="isCollection" type="xsd:boolean" use="optional" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="LiteralExpression" type="tLiteralExpression" substitutionGroup="Expression"/>
	<xsd:complexType name="tLiteralExpression">
		<xsd:complexContent>
			<xsd:extension base="tExpression">
				<xsd:choice minOccurs="0" maxOccurs="1">
					<xsd:element name="text" type="xsd:string"/>
					<xsd:element ref="importedValues"/>
				</xsd:choice>
				<xsd:attribute name="expressionLanguage" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Invocation" type="tInvocation" substitutionGroup="Expression"/>
	<xsd:complexType name="tInvocation">
		<xsd:complexContent>
			<xsd:extension base="tExpression">
				<xsd:sequence>
					<xsd:element name="binding" type="tBinding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tBinding">
		<xsd:sequence>
			<xsd:element ref="Expression" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="parameter" type="tDMNElementReference" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="InformationItem" type="tInformationItem" substitutionGroup="NamedElement"/>
	<xsd:complexType name="tInformationItem">
		<xsd:complexContent>
			<xsd:extension base="tNamedElement">
				<xsd:sequence>
					<xsd:element name="itemDefinition" type="xsd:QName" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
			<!-- NB: the name attribute is "required" for information items -->
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DecisionTable" type="tDecisionTable" substitutionGroup="Expression"/>
	<xsd:complexType name="tDecisionTable">
		<xsd:complexContent>
			<xsd:extension base="tExpression">
				<xsd:sequence>
					<xsd:element name="input" type="tDTInput" minOccurs="0" maxOccurs="unbounded"/>
					<!-- NB: when the hit policy is FIRST or RULE ORDER, the ordering of the rules is significant and MUST be preserved -->
					<xsd:element name="output" type="tDTOutput" maxOccurs="unbounded"/>
					<xsd:element name="rule" type="tDecisionRule" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="hitPolicy" type="HitPolicy" use="optional" default="UNIQUE"/>
				<xsd:attribute name="aggregation" type="BuiltinAggregator" use="optional"/>
				<xsd:attribute name="preferedOrientation" type="DecisionTableOrientation" use="optional" default="Rule-as-Row"/>
				<xsd:attribute name="isComplete" type="xsd:boolean" use="optional" default="false"/>
				<xsd:attribute name="isConsistent" type="xsd:boolean" use="optional" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tClause">
		<xsd:attribute name="id"/>
		<xsd:attribute name="name" type="xsd:string" use="optional"/>
		<!-- NB: When the isOrdered attribute is "true", the ordering of the output entries is significant and MUST be preserved -->
		<!-- NB: irOrdered MUST be true iff the hit policy of the containing decision table is PRIORITY or OUTPUT ORDER -->
	</xsd:complexType>
	<xsd:complexType name="tDecisionRule">
		<xsd:sequence>
			<xsd:element name="inputEntry" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tUnaryTests">
							<xsd:attribute name="inputRef" type="xsd:IDREF"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="outputEntry" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="tLiteralExpression">
							<xsd:attribute name="outputRef" type="xsd:IDREF"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
		<xsd:attribute name="isOrdered" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:element name="importedValues" type="tImportedValues" substitutionGroup="Import"/>
	<xsd:complexType name="tImportedValues">
		<xsd:complexContent>
			<xsd:extension base="tImport">
				<xsd:sequence>
					<xsd:element name="importedElement" type="xsd:string"/>
				</xsd:sequence>
				<xsd:attribute name="expressionLanguage" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="artifact" type="tArtifact" abstract="true" substitutionGroup="DMNElement"/>
	<xsd:complexType name="tArtifact">
		<xsd:complexContent>
			<xsd:extension base="tDMNElement"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="textAnnotation" type="tTextAnnotation" substitutionGroup="artifact"/>
	<xsd:complexType name="tTextAnnotation">
		<xsd:complexContent>
			<xsd:extension base="tArtifact">
				<xsd:sequence>
					<xsd:element ref="text" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="textFormat" type="xsd:string" default="text/plain"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="text" type="xsd:string"/>
	<xsd:element name="association" type="tAssociation" substitutionGroup="artifact"/>
	<xsd:complexType name="tAssociation">
		<xsd:complexContent>
			<xsd:extension base="tArtifact">
				<xsd:sequence>
					<xsd:element name="sourceRef" type="tDMNElementReference"/>
					<xsd:element name="targetRef" type="tDMNElementReference"/>
				</xsd:sequence>
				<xsd:attribute name="associationDirection" type="tAssociationDirection" default="None"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="tAssociationDirection">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None"/>
			<xsd:enumeration value="One"/>
			<xsd:enumeration value="Both"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DecisionTableOrientation">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Rule-as-Row"/>
			<xsd:enumeration value="Rule-as-Column"/>
			<xsd:enumeration value="CrossTable"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HitPolicy">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UNIQUE"/>
			<xsd:enumeration value="FIRST"/>
			<xsd:enumeration value="PRIORITY"/>
			<xsd:enumeration value="ANY"/>
			<xsd:enumeration value="COLLECT"/>
			<xsd:enumeration value="RULE ORDER"/>
			<xsd:enumeration value="OUTPUT ORDER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BuiltinAggregator">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SUM"/>
			<xsd:enumeration value="COUNT"/>
			<xsd:enumeration value="MIN"/>
			<xsd:enumeration value="MAX"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="tDTOutput">
		<xsd:complexContent>
			<xsd:extension base="tClause">
				<xsd:sequence>
					<!-- NB: When the isOrdered attribute is "true", the ordering of the output entries is significant and MUST be preserved -->
					<xsd:element name="outputDefinition" type="xsd:QName" minOccurs="0"/>
					<xsd:element name="outputValue" type="tUnaryTests" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="defaultOutputEntry" type="tLiteralExpression" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tDTInput">
		<xsd:complexContent>
			<xsd:extension base="tClause">
				<xsd:sequence>
					<xsd:element name="inputExpression" type="tLiteralExpression"/>
					<xsd:element name="inputValue" type="tUnaryTests" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Context" type="tContext" substitutionGroup="Expression"/>
	<xsd:complexType name="tContext">
		<xsd:complexContent>
			<xsd:extension base="tExpression">
				<xsd:sequence>
					<xsd:element name="contextEntry" type="tContextEntry" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tContextEntry">
		<xsd:sequence>
			<xsd:element ref="InformationItem" minOccurs="0" maxOccurs="1"/>
			<!-- the variable -->
			<xsd:element ref="Expression" minOccurs="1" maxOccurs="1"/>
			<!-- the value -->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FunctionDefinition" type="tFunctionDefinition" substitutionGroup="Expression"/>
	<xsd:complexType name="tFunctionDefinition">
		<xsd:complexContent>
			<xsd:extension base="tExpression">
				<xsd:sequence>
					<xsd:element ref="InformationItem" minOccurs="0" maxOccurs="unbounded"/>
					<!-- the formal parameters -->
					<xsd:element ref="Expression" minOccurs="0" maxOccurs="1"/>
					<!-- the body -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="Relation" type="tRelation" substitutionGroup="Expression"/>
	<xsd:complexType name="tRelation">
		<xsd:complexContent>
			<xsd:extension base="tExpression">
				<xsd:sequence>
					<xsd:element name="column" type="tContextEntry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="List" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="List" type="tList" substitutionGroup="Expression"/>
	<xsd:complexType name="tList">
		<xsd:complexContent>
			<xsd:extension base="tExpression">
				<xsd:sequence>
					<xsd:element ref="Expression" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="tUnaryTests">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="tNamedElement">
		<xsd:complexContent>
			<xsd:extension base="tDMNElement">
				<xsd:attribute name="name" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
