xsd/DMNDI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema id="DMNDI" version="20260504"
			elementFormDefault="qualified"
			targetNamespace="https://www.omg.org/spec/DMN/DMNDI/"
			xmlns:dmndi="https://www.omg.org/spec/DMN/DMNDI/"
			xmlns:di="https://www.omg.org/spec/SCE/DI/"
			xmlns:dc="https://www.omg.org/spec/SCE/DC/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="https://www.omg.org/spec/SCE/DC/"
				schemaLocation="DC.xsd">
		<xsd:annotation>
			<xsd:documentation>
				Diagram Common, adopted from Specification Common Elements (SCE).
				Canonical location: https://www.omg.org/spec/SCE/DC.xsd
			</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<xsd:import namespace="https://www.omg.org/spec/SCE/DI/"
				schemaLocation="DI.xsd">
		<xsd:annotation>
			<xsd:documentation>
				Diagram Interchange, adopted from Specification Common Elements (SCE).
				Canonical location: https://www.omg.org/spec/SCE/DI.xsd
			</xsd:documentation>
		</xsd:annotation>
	</xsd:import>

	<xsd:element name="DMNDI" type="dmndi:DMNDI"/>
	<xsd:element name="DMNDiagram" type="dmndi:DMNDiagram"/>
	<xsd:element name="DMNDiagramElement" type="di:tDiagramElement">
		<xsd:annotation>
			<xsd:documentation>This element should never be instantiated directly, but rather concrete implementation should. It is placed there only to be referred in the sequence</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DMNShape" type="dmndi:DMNShape" substitutionGroup="dmndi:DMNDiagramElement"/>
	<xsd:element name="DMNEdge" type="dmndi:DMNEdge" substitutionGroup="dmndi:DMNDiagramElement"/>
	<xsd:element name="DMNStyle" type="dmndi:DMNStyle" substitutionGroup="di:Style"/>
	<xsd:element name="DMNLabel" type="dmndi:DMNLabel"/>
	<xsd:element name="DMNDecisionServiceDividerLine" type="dmndi:DMNDecisionServiceDividerLine"/>

	<xsd:complexType name="DMNDI">
		<xsd:sequence>
			<xsd:element ref="dmndi:DMNDiagram" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="dmndi:DMNStyle" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DMNDiagram">
		<xsd:complexContent>
			<xsd:extension base="di:tDiagram">
				<xsd:sequence>
					<xsd:element name="Size" type="dc:tDimension" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="dmndi:DMNDiagramElement" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="useAlternativeInputDataShape" type="xsd:boolean" use="optional" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DMNShape">
		<xsd:complexContent>
			<xsd:extension base="di:tShape">
				<xsd:sequence>
					<xsd:element ref="dmndi:DMNLabel" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="dmndi:DMNDecisionServiceDividerLine" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="dmnElementRef" type="xsd:QName" use="required"/>
				<xsd:attribute name="isListedInputData" type="xsd:boolean" use="optional"/>
				<xsd:attribute name="isCollapsed" type="xsd:boolean" use="optional" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

		<xsd:complexType name="DMNDecisionServiceDividerLine">
		<xsd:complexContent>
		<xsd:extension base="di:tEdge"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DMNEdge">
		<xsd:complexContent>
			<xsd:extension base="di:tEdge">
				<xsd:sequence>
					<xsd:element ref="dmndi:DMNLabel" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="dmnElementRef" type="xsd:QName" use="required"/>
				<xsd:attribute name="sourceElement" type="xsd:QName" use="optional"/>
				<xsd:attribute name="targetElement" type="xsd:QName" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DMNLabel">
		<xsd:complexContent>
			<xsd:extension base="di:tShape">
				<xsd:sequence>
					<xsd:element name="Text" type="xsd:string" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DMNStyle">
		<xsd:complexContent>
			<xsd:extension base="di:tStyle">
				<xsd:sequence>
					<xsd:element name="FillColor" type="dc:tColor" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="StrokeColor" type="dc:tColor" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="FontColor" type="dc:tColor" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute name="fontFamily" type="xsd:string"/>
				<xsd:attribute name="fontSize" type="xsd:double"/>
				<xsd:attribute name="fontItalic" type="xsd:boolean"/>
				<xsd:attribute name="fontBold" type="xsd:boolean"/>
				<xsd:attribute name="fontUnderline" type="xsd:boolean"/>
				<xsd:attribute name="fontStrikeThrough" type="xsd:boolean"/>
				<xsd:attribute name="labelHorizontalAlignement" type="dc:tAlignmentKind"/>
				<xsd:attribute name="labelVerticalAlignment" type="dc:tAlignmentKind"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>
